# Database connection string
# This default value works with the provided docker-compose.yml
DATABASE_URL=postgresql://user:password@db:5432/mydatabase

# Google AI API Key
# Get yours from https://aistudio.google.com/app/apikey
GOOGLE_API_KEY="YOUR_GOOGLE_AI_API_KEY"

# LangSmith Tracing (Optional)
# Set to "true" to enable tracing and provide your API key
# Get yours from https://smith.langchain.com/
LANGSMITH_TRACING=true
LANGSMITH_API_KEY="YOUR_LANGSMITH_API_KEY"
LANGSMITH_PROJECT="YOUR_LANGSMITH_PROJECT_NAME"